.wp-block-blocks-course-price-table {
	display: block;
	width: 100%;
	max-width: 1000px;

	
	@for $i from 1 through 6 {
		&.has-#{$i}-columns {
			/* stylelint-disable-next-line selector-class-pattern */
			> .block-editor-inner-blocks > .block-editor-block-list__layout > {

				[data-type="blocks-course/price-block"] {
					width: calc(100% / #{$i} - 50px);
      				// background: linear-gradient(to bottom, skyblue 38%, white 38%, white 100%);
				}

				.block-list-appender {
					align-self: stretch;
					width: calc(100% / #{$i} - 50px);
					border: 1px dashed;
					display: flex;
					align-items: center;
					justify-content: center;
					min-height: 70px;
				}
			}
		}
	}
	/* stylelint-disable-next-line selector-class-pattern */
	> .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;

		[data-type="blocks-course/price-block"] {
			max-width: none;
			margin: 10;
			text-align: center;
			border-radius: 5px;
			padding: 10px;
		}

		> [data-type="blocks-course/price-block"] {
			margin: 10px;
			background-color: rgb(255, 255, 255);
			box-shadow: 5px 5px 5px rgb(131, 131, 131);
			// box-shadow: 5px 5px 10px rgb(160, 217, 208);
			border: none;
			// background: linear-gradient(to bottom, #6dd5ed, #ffffff);
			

			/* Add the styles for h4, h2, li, and button here */

			ul {
			list-style: none;
			padding: 0;
			text-align: center;
		}
	
		li {
			margin-bottom: 5px;
			line-height: initial; /* This resets the line height */
			text-align: center;
		}

			// h4 {
			// 	color: rgb(0, 0, 0);
			// 	text-align: center;
			// 	margin-bottom: 10px; /* Adjust margin for a more normal appearance */
			// 	margin-top: 20px; /* Adjust margin for a more normal appearance */
			// 	font-size: 24px; /* Adjust font size for a more normal appearance */
			// 	font-weight: 700; /* Avoid using !important whenever possible */
			// 	font-family: 'ProximaNova-Bold', Helvetica, Arial, sans-serif;
			// 	line-height: 1.5; /* Adjust line height for a more normal appearance */
			//   }
			  
			//   h3 {
			// 	color: rgb(0, 0, 0);
			// 	margin-bottom: 10px; /* Adjust margin for a more normal appearance */
			// 	margin-top: 0; /* Adjust margin for a more normal appearance */
			// 	font-weight: 600;
			// 	font-size: 48px; /* Adjust font size for a more normal appearance */
			//   }
			  
			//   ul {
			// 	list-style: none;
			//   }
			
			//   li {
			// 	margin: 15px;
			// 	text-align: center;
			// 	flex: 1 1 calc(33.33% - 20px); /* Adjust the width as needed */
			//   }
			  
			//   #my-get-started-button {
			// 	box-sizing: border-box;
			// 	margin: 15;
			// 	padding: 15px 30px;
			// 	font-size: 16px;
			// 	border: 1px solid #27264b;
			// 	border-radius: 5px;
			// 	background-color: #fff;
			// 	color: #27264b;
			// 	cursor: pointer;
			// 	text-transform: uppercase;
			// 	transition: background-color 250ms ease-in-out;
			//   }
			  
			//   #my-get-started-button:hover {
			// 	background-color: rgb(0, 9, 64);
			// 	color: #fff;
			//   }
			  
	 
  
  }
  
		}
	}
